<%- include('header') -%>

<h1>About</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, veritatis
    officiis dolorem amet laboriosam atque eligendi. Perferendis sapiente nemo
    molestias? Fugit deserunt assumenda incidunt quia, hic amet sunt sequi
    earum.
</p>
<p>
    Voluptate inventore vel at possimus perferendis impedit sed animi velit
    quisquam magnam delectus cum natus eveniet vitae necessitatibus suscipit
    exercitationem debitis, facere quidem mollitia dolor maiores! Iste magnam ut
    dolore.
</p>
<p>
    Natus sapiente odit animi nesciunt iusto obcaecati quos, facilis optio
    voluptate provident, rem nemo eaque omnis dolorum nihil repellat rerum
    beatae tempora reiciendis, voluptatum tempore eos. Minima, laborum ipsum.
    Hic?
</p>
<p>
    Cumque labore esse id illum dolor perferendis enim hic libero, nihil
    praesentium vitae corporis, non assumenda quibusdam aspernatur adipisci
    perspiciatis totam dicta vel quam natus odit consectetur, veritatis
    mollitia? Voluptate?
</p>
<p>
    Velit non recusandae aspernatur, consequuntur similique nulla dolorum alias
    esse enim rem tenetur sed neque autem illo itaque quidem, assumenda ipsum,
    repudiandae minima sint. Vero labore molestiae velit delectus sit!
</p>
<%- include('bottom') -%>
